<div style="width: 80%;overflow-x: scroll;margin: 40px 0 0 30px;">
    <table id="table" cellspacing="0" cellpadding="2" width="100%" border="1">
      <thead>
        <tr align="center" bgcolor="#dcdcdc">
          <th style="width:100px;" appTable>用户编号</th>
          <th appTable>试用时间</th>
          <th appTable>转正时间</th>
          <th appTable>生日时间</th>
          <th appTable>民族</th>
          <th appTable>身高</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2000001</td>
          <td>1997-3-13</td>
          <td>1997-3-13</td>
          <td>1965-3-13</td>
          <td>汉</td>
          <td>171</td>
        </tr>
        <tr>
          <td>2000045</td>
          <td>2001-2-15</td>
          <td>2001-3-15</td>
          <td>1978-8-5</td>
          <td>汉</td>
          <td>162</td>
        </tr>
        <tr>
          <td>2000046</td>
          <td>2001-2-23</td>
          <td>2001-3-23</td>
          <td>2001-2-23</td>
          <td>汉</td>
          <td>171</td>
        </tr>
      </tbody>
    </table>
  </div>